<div class="container">
  <mat-toolbar color="accent">
    <span class="fill-remaining-space"></span>
    <span>Express Shipping Users</span>
    <span class="fill-remaining-space">
    </span>
    <div>
      <a routerLink="listUsers" routerLinkActive="active">
        <mat-icon>account_box</mat-icon>
      </a>
      <a routerLink="addUser" routerLinkActive="active">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>