<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="control-container">
        <input type="hidden" formControlName="$key">
        <div class="title-container">
          <mat-form-field>
            <mat-label>Your Title*</mat-label>
            <mat-select formControlName="title">
              <ng-container *ngFor="let title of titles">
                <mat-option value="{{title.id}}">{{title.value}}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error>Your title is required.</mat-error>
          </mat-form-field>

        </div>
        <mat-form-field>
          <input formControlName="firstName" matInput placeholder="Your First Name*" ngModel pattern="[a-zA-Z ]*">
          <mat-error *ngIf="service.form.controls['firstName'].errors?.required">First name is required.</mat-error>
          <mat-error *ngIf="service.form.controls['firstName'].errors?.pattern">Should only contain letters.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email*">
          <mat-error *ngIf="service.form.controls['email'].errors?.required">Your email is required.</mat-error>
          <mat-error *ngIf="service.form.controls['email'].errors?.email">Your email need to be valid.</mat-error>
        </mat-form-field>
        <div class="dob-picker">
          <h3>Date of Birth</h3>
          <mat-form-field>
            <input formControlName="dob" matInput [matDatepicker]="picker" placeholder="Your Date of Birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker color="accent"></mat-datepicker>
            <mat-error>Your date of birth is required</mat-error>
          </mat-form-field>

        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="control-container">
        <mat-form-field>
          <input formControlName="lastName" matInput placeholder="Your Last Name/Surname*" ngModel pattern="[a-zA-Z ]*">
          <mat-error *ngIf="service.form.controls['lastName'].errors?.required">Last name is required.</mat-error>
          <mat-error *ngIf="service.form.controls['lastName'].errors?.pattern">Should only contain letters.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="confirmEmail" matInput placeholder="Confirm Email*">
          <mat-error *ngIf="service.form.controls['confirmEmail'].errors?.required">Confirm email is required.
          </mat-error>
          <mat-error *ngIf="service.form.controls.confirmEmail.invalid">Your confirm email should match.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="phoneNumber" matInput placeholder="Phone Number*">
          <mat-error *ngIf="service.form.controls['phoneNumber'].errors?.required">Your phone number is required.
          </mat-error>
          <mat-error *ngIf="service.form.controls.phoneNumber.invalid">Number should be 11 digits, in Malaysian format.
          </mat-error>
          <mat-error *ngIf="service.form.controls['phoneNumber'].errors?.maxLength">Number length should not exceed 11
            digits.
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="accent" type="submit" (click)="onSubmit()"
            [disabled]="service.form.invalid">Submit</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>