/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  background-color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.container {
  margin: 0px 40px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

form.normal-form {
  margin: 10px;
}

.control-container {
  width: 100%;
  padding: 5%;
}

.control-container > * {
  width: 100%;
}

.dob-picker {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
  text-align: center;
}

.title-container {
  width: 50px;
}

.add-bottom-padding {
  padding-bottom: 5px;
}

.align-bottom {
  padding-bottom: 0px;
}

.button-row {
  margin: 5px;
}
